In [158]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [153]:
raw_data=pd.read_csv("RandomData1.csv")

In [159]:
SCORE=pd.DataFrame()
author=pd.DataFrame()
ISSN=pd.DataFrame()
ALTID=pd.DataFrame()
ALTID=raw_data['altmetric_id']
author=raw_data['authors']
Authors=raw_data[['altmetric_id','authors']]
ISSN= raw_data['ISSN']
SCORE= raw_data[['altmetric_id','score']]

In [154]:
raw_data.head(30)

,altmetric_id,altmetric_rank,score,DOI,ISSN,authors,journal,pubdate,citeulike,mendeley,policy
0,3948206,1173201,7.65,10.1007/s11569-015-0222-5,1871-4757;1871-4765;,N. Gupta,NanoEthics,4/23/15 19:00,0,43,0
1,3948206,1173201,7.65,10.1007/s11569-015-0222-5,1871-4757;1871-4765;,A. R. H. Fischer,NanoEthics,4/23/15 19:00,0,43,0
2,3948206,1173201,7.65,10.1007/s11569-015-0222-5,1871-4757;1871-4765;,L. J. Frewer,NanoEthics,4/23/15 19:00,0,43,0
3,3203035,817791,3.00,10.1080/08035250601089116,1651-2227;,"ZETTERSTRÖM, ROLF",Acta Paediatrica,3/28/07 19:00,0,0,0
4,4929232,1260119,4.95,10.1016/j.jamda.2015.11.002,1538-9375;1525-8610;,"Hoben, Matthias",Journal of the American Medical Directors Asso...,12/28/15 16:00,0,51,0
5,4929232,1260119,4.95,10.1016/j.jamda.2015.11.002,1538-9375;1525-8610;,"Chamberlain, Stephanie A",Journal of the American Medical Directors Asso...,12/28/15 16:00,0,51,0
6,4929232,1260119,4.95,10.1016/j.jamda.2015.11.002,1538-9375;1525-8610;,"Knopp-Sihota, Jennifer A",Journal of the American Medical Directors Asso...,12/28/15 16:00,0,51,0
7,4929232,1260119,4.95,10.1016/j.jamda.2015.11.002,1538-9375;1525-8610;,"Poss, Jeffrey W",Journal of the American Medical Directors Asso...,12/28/15 16:00,0,51,0
8,4929232,1260119,4.95,10.1016/j.jamda.2015.11.002,1538-9375;1525-8610;,"Thompson, Genevieve N",Journal of the American Medical Directors Asso...,12/28/15 16:00,0,51,0
9,4929232,1260119,4.95,10.1016/j.jamda.2015.11.002,1538-9375;1525-8610;,"Estabrooks, Carole A",Journal of the American Medical Directors Asso...,12/28/15 16:00,0,51,0
10,7837125,7058892,0.25,10.1007/s00006-015-0555-8,0188-7009;1661-4909;,T. Batard,Advances in Applied Clifford Algebras,5/6/15 19:00,0,1,0
11,7837125,7058892,0.25,10.1007/s00006-015-0555-8,0188-7009;1661-4909;,T. Raeymaekers,Advances in Applied Clifford Algebras,5/6/15 19:00,0,1,0
12,7837125,7058892,0.25,10.1007/s00006-015-0555-8,0188-7009;1661-4909;,"Batard, Thomas",Advances in Applied Clifford Algebras,5/6/15 19:00,0,1,0
13,7837125,7058892,0.25,10.1007/s00006-015-0555-8,0188-7009;1661-4909;,"Raeymaekers, Tim",Advances in Applied Clifford Algebras,5/6/15 19:00,0,1,0
14,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Kieran P. O'Dea,The Astrophysical Journal,8/19/10 19:00,0,25,0
15,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Alice C. Quillen,The Astrophysical Journal,8/19/10 19:00,0,25,0
16,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Christopher P. O'Dea,The Astrophysical Journal,8/19/10 19:00,0,25,0
17,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Grant R. Tremblay,The Astrophysical Journal,8/19/10 19:00,0,25,0
18,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Bradford T. Snios,The Astrophysical Journal,8/19/10 19:00,0,25,0
19,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Stefi A. Baum,The Astrophysical Journal,8/19/10 19:00,0,25,0
20,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Kevin Christiansen,The Astrophysical Journal,8/19/10 19:00,0,25,0
21,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Jacob Noel-Storr,The Astrophysical Journal,8/19/10 19:00,0,25,0
22,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Alastair C. Edge,The Astrophysical Journal,8/19/10 19:00,0,25,0
23,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,Megan Donahue,The Astrophysical Journal,8/19/10 19:00,0,25,0
24,5867824,4086630,1.00,10.1088/0004-637x/719/2/1619,0004-637X;1538-4357;,G. Mark Voit,The Astrophysical Journal,8/19/10 19:00,0,25,0
25,1060658,1317606,3.25,10.1016/j.cageo.2012.02.004,00983004;,Pejman Tahmasebi,Computers & Geosciences,4/30/12 19:00,0,85,0
26,1060658,1317606,3.25,10.1016/j.cageo.2012.02.004,00983004;,Ardeshir Hezarkhani,Computers & Geosciences,4/30/12 19:00,0,85,0
27,5975835,935772,5.00,10.1006/aima.1995.1029,00018708;,A.W.M. Dress,Advances in Mathematics,3/31/95 18:00,1,3,0
28,5975835,935772,5.00,10.1006/aima.1995.1029,00018708;,W. Wenzel,Advances in Mathematics,3/31/95 18:00,1,3,0
29,7548422,3660078,1.50,10.3390/toxins8050155,2072-6651;,Soichi Takeda,Toxins,5/16/16 19:00,0,28,0

In [155]:
T5_10=CountFrequency(raw_data[(raw_data['pubdate'].apply(datestripper)>5) & (raw_data['pubdate'].apply(datestripper)<=10)]['authors'])
df2=pd.DataFrame.from_dict(T5_10,orient = 'index').reset_index()
df2=df2.rename(columns={'index':'authors',0:'no of pubs 5-10'})
df2

                   authors  no of pubs 5-10
0        ZETTERSTRÖM, ROLF                1
1          Kieran P. O'Dea                1
2         Alice C. Quillen                1
3     Christopher P. O'Dea                1
4        Grant R. Tremblay                1
5        Bradford T. Snios                1
6            Stefi A. Baum                1
7       Kevin Christiansen                1
8         Jacob Noel-Storr                1
9         Alastair C. Edge                1
10           Megan Donahue                1
11            G. Mark Voit                1
12                 Lanza M                7
13                 Porti M                7
14                Nafría M                7
15              Aymerich X                7
16             Whittaker E                7
17              Hamilton B                7
18                M. Lanza                7
19                M. Porti                7
20               M. Nafría                7
21             X. Aymerich                7
22            E. Whittaker                7
23             B. Hamilton                7
24        Hayashi-Takagi A                2
25                Takaki M                2
26              Graziane N                2
27              Seshadri S                2
28               Murdoch H                2
29               Dunlop AJ                2
...                    ...              ...
3560                 Pia L                1
3561           Folegatti A                1
3562           Marchetti C                1
3563               Berti A                1
3564      Jody A. O’Connor                1
3565     Frank J. Sulloway                1
3566      Jeremy Robertson                1
3567     Sonia Kleindorfer                1
3568      Vijayakrishnan N                1
3569       Woodruff EA 3rd                1
3570             Broadie K                1
3571          I R Akhmetov                1
3572          A V Vazhenin                1
3573           S V Iaĭtsev                1
3574          A V Privalov                1
3575     O'Neill, Fiona K.                1
3576   Rossana M. Calderon                1
3577      Luigi X. Cubeddu                1
3578    Ronald B. Goldberg                1
3579      Eugene R. Schiff                1
3580                Rabe S                1
3581              Dörfel D                1
3582             Zöllner T                1
3583            Maercker A                1
3584                Karl A                1
3585            Sirko Rabe                1
3586         Denise Dörfel                1
3587         Tanja Zöllner                1
3588      Andreas Maercker                1
3589             Anke Karl                1

[3590 rows x 2 columns]

In [128]:
T10_15=CountFrequency(raw_data[(raw_data['pubdate'].apply(datestripper)>10) & (raw_data['pubdate'].apply(datestripper)<=15)]['authors'])
df1=pd.DataFrame.from_dict(T10_15,orient = 'index').reset_index()
df1=df1.rename(columns={'index':'authors',0:'no of pubs 10-15'})

In [151]:
dframe=pd.merge(df1,df2 ,left_on='authors',right_on='authors',how='outer')
dframe1=pd.merge(dframe,df_4,left_on='authors',right_on='authors',how='outer')

In [152]:
dframe1

,authors,no of pubs 10-15,no of pubs 5-10,author influence
0,N. Gupta,1.0,NaN,NaN
1,A. R. H. Fischer,1.0,NaN,NaN
2,L. J. Frewer,1.0,NaN,NaN
3,"Hoben, Matthias",1.0,NaN,NaN
4,"Chamberlain, Stephanie A",1.0,NaN,NaN
5,"Knopp-Sihota, Jennifer A",1.0,NaN,NaN
6,"Poss, Jeffrey W",1.0,NaN,NaN
7,"Thompson, Genevieve N",1.0,NaN,NaN
8,"Estabrooks, Carole A",1.0,NaN,NaN
9,T. Batard,7.0,NaN,49.000000
10,T. Raeymaekers,7.0,NaN,49.000000
11,"Batard, Thomas",7.0,NaN,49.000000
12,"Raeymaekers, Tim",7.0,NaN,49.000000
13,Pejman Tahmasebi,1.0,NaN,NaN
14,Ardeshir Hezarkhani,1.0,NaN,NaN
15,Yuriy P. Maystrenko,1.0,NaN,NaN
16,Magdalena Scheck-Wenderoth,1.0,NaN,NaN
17,Alexander Hartwig,1.0,NaN,NaN
18,Zahie Anka,1.0,NaN,NaN
19,Antony B. Watts,1.0,NaN,NaN
20,Katja K. Hirsch,1.0,NaN,NaN
21,Stewart Fishwick,1.0,NaN,NaN
22,"Tatman, Penny",1.0,NaN,NaN
23,V Foti Cuzzola,1.0,NaN,NaN
24,E Palella,1.0,NaN,NaN
25,D Celi,1.0,NaN,NaN
26,M Barresi,1.0,NaN,NaN
27,S Giacoppo,1.0,NaN,NaN
28,P Bramanti,1.0,NaN,NaN
29,S Marino,1.0,NaN,NaN
...,...,...,...,...
33105,Andy Bennett,NaN,NaN,NaN
33106,A. Bennett,NaN,NaN,NaN
33107,I. Rogers,NaN,NaN,NaN
33108,Glenn Withers,NaN,NaN,NaN
33109,"Kallaur, Ana Paula",NaN,NaN,NaN
33110,"Oliveira, Sayonara Rangel",NaN,NaN,NaN
33111,"Simão, Andréa Name Colado",NaN,NaN,NaN
33112,"Alfieri, Daniela Frizon",NaN,NaN,NaN
33113,"Flauzino, Tamires",NaN,NaN,NaN
33114,"Lopes, Josiane",NaN,NaN,NaN
33115,"de Carvalho Jennings Pereira, Wildea Lice",NaN,NaN,NaN
33116,"de Meleck Proença, Caio",NaN,NaN,NaN
33117,"Borelli, Sueli Donizete",NaN,NaN,NaN
33118,"Kaimen-Maciel, Damacio Ramón",NaN,NaN,NaN
33119,"Reiche, Edna Maria Vissoci",NaN,NaN,NaN
33120,Lawrence M. Kelly,NaN,NaN,NaN
33121,"Filippatos, T D",NaN,NaN,3.000000
33122,"Elisaf, M S",NaN,NaN,3.000000
33123,T. D. Filippatos,NaN,NaN,3.000000
33124,"O'Dowd, Seán",NaN,NaN,NaN
33125,Y Tohdoh,NaN,NaN,NaN
33126,E Narimatsu,NaN,NaN,NaN
33127,M Kawamata,NaN,NaN,NaN
33128,A Namiki,NaN,NaN,NaN
33129,Masayoshi Tsukahara,NaN,NaN,NaN
33130,Takayasu Hirosawa,NaN,NaN,NaN
33131,Lola V. Stamm,NaN,NaN,NaN
33132,"Bauer, H W",NaN,NaN,NaN
33133,"Bessler, W G",NaN,NaN,NaN
33134,G M BROWN,NaN,NaN,2.807692

In [103]:
def datestripper(st):
    dt=st[-8:-6]
    try:
        dt=int(dt)
    except:
        if dt=='##':
            dt=0
        else:
            
            dt=int(dt[1])
        
    return dt
    
datestripper('4/23/65 19:00')

65

In [156]:
journals=raw_data['journal']

In [8]:
import collections
def CountFrequency(arr):
    return collections.Counter(arr)

In [9]:
NO_OF_PUBLICATIONS=CountFrequency(author)

In [160]:
AUTHORS_FOR_PAPER=CountFrequency(ALTID)

In [161]:
NO_PUB=pd.DataFrame.from_dict(NO_OF_PUBLICATIONS,orient='index').reset_index()
NO_PUB=NO_PUB.rename(columns={'index':'authors',0:'NO_OF_PUB'})
NO_PUB

                        authors  NO_OF_PUB
0                      N. Gupta          1
1              A. R. H. Fischer          1
2                  L. J. Frewer          1
3             ZETTERSTRÖM, ROLF          1
4               Hoben, Matthias          1
5      Chamberlain, Stephanie A          1
6      Knopp-Sihota, Jennifer A          1
7               Poss, Jeffrey W          1
8         Thompson, Genevieve N          1
9          Estabrooks, Carole A          1
10                    T. Batard          7
11               T. Raeymaekers          7
12               Batard, Thomas          7
13             Raeymaekers, Tim          7
14              Kieran P. O'Dea          1
15             Alice C. Quillen          1
16         Christopher P. O'Dea          1
17            Grant R. Tremblay          1
18            Bradford T. Snios          1
19                Stefi A. Baum          1
20           Kevin Christiansen          1
21             Jacob Noel-Storr          1
22             Alastair C. Edge          1
23                Megan Donahue          1
24                 G. Mark Voit          1
25             Pejman Tahmasebi          1
26          Ardeshir Hezarkhani          1
27                 A.W.M. Dress          1
28                    W. Wenzel          1
29                Soichi Takeda          1
...                         ...        ...
33105               Psoter, K J          1
33106              DE Roos, A J          1
33107              Wakefield, J          1
33108                Mayer, J D          1
33109                  Bryan, M          1
33110              Rosenfeld, M          1
33111             Lola V. Stamm          1
33112                Bauer, H W          1
33113              Bessler, W G          1
33114                 Bob Roehr          1
33115                 G M BROWN          1
33116                    Rabe S          1
33117                  Dörfel D          1
33118                 Zöllner T          1
33119                Maercker A          1
33120                    Karl A          1
33121                Sirko Rabe          1
33122             Denise Dörfel          1
33123             Tanja Zöllner          1
33124          Andreas Maercker          1
33125                 Anke Karl          1
33126          Jiang, Chengming          1
33127              Song, Jinhui          1
33128                Ka-Yiu Lee          1
33129      Duncan J. Macfarlane          1
33130               Ester Cerin          1
33131             Ka-Yiu   Lee           1
33132                    Lee KY          1
33133             Macfarlane DJ          1
33134                   Cerin E          1

[33135 rows x 2 columns]

In [163]:
#Simpson's Diversity Index
total=0
for key, value in NO_OF_PUBLICATIONS.items():
     total+=value;
total
 

div=[]

for key,value in NO_OF_PUBLICATIONS.items():
        D=0
        D=1-(value/total)
        div.append(D)

In [164]:
NO_PUB['diversity']=div
NO_PUB

                        authors  NO_OF_PUB  diversity
0                      N. Gupta          1   0.999977
1              A. R. H. Fischer          1   0.999977
2                  L. J. Frewer          1   0.999977
3             ZETTERSTRÖM, ROLF          1   0.999977
4               Hoben, Matthias          1   0.999977
5      Chamberlain, Stephanie A          1   0.999977
6      Knopp-Sihota, Jennifer A          1   0.999977
7               Poss, Jeffrey W          1   0.999977
8         Thompson, Genevieve N          1   0.999977
9          Estabrooks, Carole A          1   0.999977
10                    T. Batard          7   0.999836
11               T. Raeymaekers          7   0.999836
12               Batard, Thomas          7   0.999836
13             Raeymaekers, Tim          7   0.999836
14              Kieran P. O'Dea          1   0.999977
15             Alice C. Quillen          1   0.999977
16         Christopher P. O'Dea          1   0.999977
17            Grant R. Tremblay          1   0.999977
18            Bradford T. Snios          1   0.999977
19                Stefi A. Baum          1   0.999977
20           Kevin Christiansen          1   0.999977
21             Jacob Noel-Storr          1   0.999977
22             Alastair C. Edge          1   0.999977
23                Megan Donahue          1   0.999977
24                 G. Mark Voit          1   0.999977
25             Pejman Tahmasebi          1   0.999977
26          Ardeshir Hezarkhani          1   0.999977
27                 A.W.M. Dress          1   0.999977
28                    W. Wenzel          1   0.999977
29                Soichi Takeda          1   0.999977
...                         ...        ...        ...
33105               Psoter, K J          1   0.999977
33106              DE Roos, A J          1   0.999977
33107              Wakefield, J          1   0.999977
33108                Mayer, J D          1   0.999977
33109                  Bryan, M          1   0.999977
33110              Rosenfeld, M          1   0.999977
33111             Lola V. Stamm          1   0.999977
33112                Bauer, H W          1   0.999977
33113              Bessler, W G          1   0.999977
33114                 Bob Roehr          1   0.999977
33115                 G M BROWN          1   0.999977
33116                    Rabe S          1   0.999977
33117                  Dörfel D          1   0.999977
33118                 Zöllner T          1   0.999977
33119                Maercker A          1   0.999977
33120                    Karl A          1   0.999977
33121                Sirko Rabe          1   0.999977
33122             Denise Dörfel          1   0.999977
33123             Tanja Zöllner          1   0.999977
33124          Andreas Maercker          1   0.999977
33125                 Anke Karl          1   0.999977
33126          Jiang, Chengming          1   0.999977
33127              Song, Jinhui          1   0.999977
33128                Ka-Yiu Lee          1   0.999977
33129      Duncan J. Macfarlane          1   0.999977
33130               Ester Cerin          1   0.999977
33131             Ka-Yiu   Lee           1   0.999977
33132                    Lee KY          1   0.999977
33133             Macfarlane DJ          1   0.999977
33134                   Cerin E          1   0.999977

[33135 rows x 3 columns]

In [10]:
author_dict = {}
for names in NO_OF_PUBLICATIONS.keys():
    r=raw_data[raw_data['authors']== names]['journal']
    author_dict[names]=r

In [21]:
def common_journals(x,y):
    ctr=0
    for i in author_dict[x]:
        for j in author_dict[y]:
            if i==j:
                ctr+=1
                
    return ctr

In [24]:
common_journals('N. Gupta','L. J. Frewer')

1

In [25]:
total_list=[]
for aths in NO_OF_PUBLICATIONS.keys():
    commn_list=[]
    for athr in NO_OF_PUBLICATIONS.keys():
        VAL=common_journals(aths,athr)
        if VAL>1:
            commn_list.append(VAL)
            
    total_list.append(commn_list)

In [73]:
for nums in commn_list:
    if nums>1:
        print (nums)

In [33]:
array_list=[]
import numpy as np
for values in total_list:
    arr=np.array(values)
    arr_mean=arr.mean()
    array_list.append(arr_mean)

C:\Users\vamsi.DESKTOP-L1SPHQG\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: Mean of empty slice.
  """
C:\Users\vamsi.DESKTOP-L1SPHQG\Anaconda3\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [36]:
array_arraylist=np.array(array_list)

In [148]:
array_arraylist
df_4=pd.DataFrame(array_arraylist,columns=['author influence'])
df_4['authors']=NO_OF_PUBLICATIONS.keys()
df_4

       author influence                   authors
0                   NaN                  N. Gupta
1                   NaN          A. R. H. Fischer
2                   NaN              L. J. Frewer
3                   NaN         ZETTERSTRÖM, ROLF
4                   NaN           Hoben, Matthias
5                   NaN  Chamberlain, Stephanie A
6                   NaN  Knopp-Sihota, Jennifer A
7                   NaN           Poss, Jeffrey W
8                   NaN     Thompson, Genevieve N
9                   NaN      Estabrooks, Carole A
10            49.000000                 T. Batard
11            49.000000            T. Raeymaekers
12            49.000000            Batard, Thomas
13            49.000000          Raeymaekers, Tim
14             3.177778           Kieran P. O'Dea
15             3.177778          Alice C. Quillen
16             3.177778      Christopher P. O'Dea
17             3.177778         Grant R. Tremblay
18             3.177778         Bradford T. Snios
19             3.177778             Stefi A. Baum
20             3.177778        Kevin Christiansen
21             3.177778          Jacob Noel-Storr
22             3.177778          Alastair C. Edge
23             3.177778             Megan Donahue
24             3.177778              G. Mark Voit
25                  NaN          Pejman Tahmasebi
26                  NaN       Ardeshir Hezarkhani
27                  NaN              A.W.M. Dress
28                  NaN                 W. Wenzel
29                  NaN             Soichi Takeda
...                 ...                       ...
33105               NaN               Psoter, K J
33106               NaN              DE Roos, A J
33107               NaN              Wakefield, J
33108               NaN                Mayer, J D
33109               NaN                  Bryan, M
33110               NaN              Rosenfeld, M
33111               NaN             Lola V. Stamm
33112               NaN                Bauer, H W
33113               NaN              Bessler, W G
33114          2.000000                 Bob Roehr
33115          2.807692                 G M BROWN
33116               NaN                    Rabe S
33117               NaN                  Dörfel D
33118               NaN                 Zöllner T
33119               NaN                Maercker A
33120               NaN                    Karl A
33121               NaN                Sirko Rabe
33122               NaN             Denise Dörfel
33123               NaN             Tanja Zöllner
33124               NaN          Andreas Maercker
33125               NaN                 Anke Karl
33126               NaN          Jiang, Chengming
33127               NaN              Song, Jinhui
33128               NaN                Ka-Yiu Lee
33129               NaN      Duncan J. Macfarlane
33130               NaN               Ester Cerin
33131               NaN             Ka-Yiu   Lee
33132               NaN                    Lee KY
33133               NaN             Macfarlane DJ
33134               NaN                   Cerin E

[33135 rows x 2 columns]

In [165]:
#FINAL DATAFRAME
FINAL=pd.merge(dframe1,NO_PUB,left_on='authors',right_on='authors',how='outer')

In [166]:
FINAL

,authors,no of pubs 10-15,no of pubs 5-10,author influence,NO_OF_PUB,diversity
0,N. Gupta,1.0,NaN,NaN,1,0.999977
1,A. R. H. Fischer,1.0,NaN,NaN,1,0.999977
2,L. J. Frewer,1.0,NaN,NaN,1,0.999977
3,"Hoben, Matthias",1.0,NaN,NaN,1,0.999977
4,"Chamberlain, Stephanie A",1.0,NaN,NaN,1,0.999977
5,"Knopp-Sihota, Jennifer A",1.0,NaN,NaN,1,0.999977
6,"Poss, Jeffrey W",1.0,NaN,NaN,1,0.999977
7,"Thompson, Genevieve N",1.0,NaN,NaN,1,0.999977
8,"Estabrooks, Carole A",1.0,NaN,NaN,1,0.999977
9,T. Batard,7.0,NaN,49.000000,7,0.999836
10,T. Raeymaekers,7.0,NaN,49.000000,7,0.999836
11,"Batard, Thomas",7.0,NaN,49.000000,7,0.999836
12,"Raeymaekers, Tim",7.0,NaN,49.000000,7,0.999836
13,Pejman Tahmasebi,1.0,NaN,NaN,1,0.999977
14,Ardeshir Hezarkhani,1.0,NaN,NaN,1,0.999977
15,Yuriy P. Maystrenko,1.0,NaN,NaN,1,0.999977
16,Magdalena Scheck-Wenderoth,1.0,NaN,NaN,1,0.999977
17,Alexander Hartwig,1.0,NaN,NaN,1,0.999977
18,Zahie Anka,1.0,NaN,NaN,1,0.999977
19,Antony B. Watts,1.0,NaN,NaN,1,0.999977
20,Katja K. Hirsch,1.0,NaN,NaN,1,0.999977
21,Stewart Fishwick,1.0,NaN,NaN,1,0.999977
22,"Tatman, Penny",1.0,NaN,NaN,1,0.999977
23,V Foti Cuzzola,1.0,NaN,NaN,1,0.999977
24,E Palella,1.0,NaN,NaN,1,0.999977
25,D Celi,1.0,NaN,NaN,1,0.999977
26,M Barresi,1.0,NaN,NaN,1,0.999977
27,S Giacoppo,1.0,NaN,NaN,1,0.999977
28,P Bramanti,1.0,NaN,NaN,1,0.999977
29,S Marino,1.0,NaN,NaN,1,0.999977
...,...,...,...,...,...,...
33105,Andy Bennett,NaN,NaN,NaN,1,0.999977
33106,A. Bennett,NaN,NaN,NaN,1,0.999977
33107,I. Rogers,NaN,NaN,NaN,1,0.999977
33108,Glenn Withers,NaN,NaN,NaN,1,0.999977
33109,"Kallaur, Ana Paula",NaN,NaN,NaN,1,0.999977
33110,"Oliveira, Sayonara Rangel",NaN,NaN,NaN,1,0.999977
33111,"Simão, Andréa Name Colado",NaN,NaN,NaN,1,0.999977
33112,"Alfieri, Daniela Frizon",NaN,NaN,NaN,1,0.999977
33113,"Flauzino, Tamires",NaN,NaN,NaN,1,0.999977
33114,"Lopes, Josiane",NaN,NaN,NaN,1,0.999977
33115,"de Carvalho Jennings Pereira, Wildea Lice",NaN,NaN,NaN,1,0.999977
33116,"de Meleck Proença, Caio",NaN,NaN,NaN,1,0.999977
33117,"Borelli, Sueli Donizete",NaN,NaN,NaN,1,0.999977
33118,"Kaimen-Maciel, Damacio Ramón",NaN,NaN,NaN,1,0.999977
33119,"Reiche, Edna Maria Vissoci",NaN,NaN,NaN,1,0.999977
33120,Lawrence M. Kelly,NaN,NaN,NaN,1,0.999977
33121,"Filippatos, T D",NaN,NaN,3.000000,1,0.999977
33122,"Elisaf, M S",NaN,NaN,3.000000,1,0.999977
33123,T. D. Filippatos,NaN,NaN,3.000000,1,0.999977
33124,"O'Dowd, Seán",NaN,NaN,NaN,1,0.999977
33125,Y Tohdoh,NaN,NaN,NaN,1,0.999977
33126,E Narimatsu,NaN,NaN,NaN,1,0.999977
33127,M Kawamata,NaN,NaN,NaN,1,0.999977
33128,A Namiki,NaN,NaN,NaN,1,0.999977
33129,Masayoshi Tsukahara,NaN,NaN,NaN,1,0.999977
33130,Takayasu Hirosawa,NaN,NaN,NaN,1,0.999977
33131,Lola V. Stamm,NaN,NaN,NaN,1,0.999977
33132,"Bauer, H W",NaN,NaN,NaN,1,0.999977
33133,"Bessler, W G",NaN,NaN,NaN,1,0.999977
33134,G M BROWN,NaN,NaN,2.807692,1,0.999977

In [167]:
FINAL.to_csv('feautes_fin1.csv')